<!-- Pantalla inicial: Botones de Create Room y Join Room -->
<div *ngIf="estado === 'inicio'">
    <div class="battle-mode-container text-center">
        <h1>Battle Mode</h1>
        <button mat-raised-button color="primary" (click)="createRoom()">Create Room</button>
        <button mat-raised-button color="accent" (click)="joinRoom()">Join Room</button>
    </div>
</div>

<!-- Pantalla de espera de jugadores tras crear una sala -->
<div *ngIf="estado === 'waitingForPlayers'">
    <div class="row">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <img src="assets/images/waitingRoom.png" style="width:50%" alt="Waiting room picture" />
            </div>
            <div id="gameSettings">
                <h3>Game settings</h3>
                <hr>
                <!-- Checkbox para habilitar o deshabilitar el temporizador -->
                <mat-checkbox class="example-margin" [(ngModel)]="timerEnabled">Enable timer</mat-checkbox>

                <!-- Campo de entrada de tiempo, habilitado solo cuando el temporizador está activo -->
                <mat-form-field class="example-form-field" style="width:100%">
                    <mat-label>Time in seconds</mat-label>
                    <input matInput type="number" [(ngModel)]="tiempo" [disabled]="!timerEnabled">
                </mat-form-field>
                <form [formGroup]="form">
                    <h6 class="card-subtitle mb-2 text-muted">Select a country and a topic</h6>
                    <div class="row">
                        <div class="col-lg-4">
                            <mat-form-field class="selector" appearance="fill">
                                <mat-label>Select a country</mat-label>
                                <mat-select formControlName="country">
                                    <mat-option value="UK">UK</mat-option>
                                    <mat-option value="USA">USA</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    
                        <div class="col-lg-4">
                            <mat-form-field class="selector" appearance="fill">
                                <mat-label>Select a topic</mat-label>
                                <mat-select formControlName="topic">
                                    <div *ngIf="form.get('country')!.value === 'UK'">
                                        <div *ngFor="let topic of UK">
                                            <mat-option [disabled]="!topic.value" [value]="topic.title">{{ topic.title }}</mat-option>
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('country')!.value === 'USA'">
                                        <div *ngFor="let topic of USA">
                                            <mat-option [disabled]="!topic.value" [value]="topic.title">{{ topic.title }}</mat-option>
                                        </div>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    
                        <!-- Campo para seleccionar el máximo de preguntas -->
                        <div class="col-lg-4">
                            <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Max questions</mat-label>
                                <input matInput type="number" formControlName="maximo" min="1" placeholder="Enter max questions">
                            </mat-form-field>
                        </div>
                    </div>                    
                    <button mat-raised-button color="primary" (click)="startGame()">Start game</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <h1 style="text-align:center">Room Code: {{codigo}}</h1> <!-- Mostrar código de sala -->
            <h2>Waiting for players...</h2>
            <!-- Mostrar la lista de jugadores conectados -->
            <ul>
                <li *ngFor="let jugador of jugadores">{{jugador}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Pantalla de Join Room -->
<div *ngIf="estado === 'joinRoom'">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Enter a room code</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your game code will be provided to you by the host.</h6>
                <form>
                    <mat-form-field class="example-form-field" style="width:100%">
                        <mat-label>Room code</mat-label>
                        <input matInput type="number" [(ngModel)]="codigoSala" name="studentRoomCode">
                        <!-- Asegúrate de que sea number -->
                    </mat-form-field>
                    <p style="color: red" *ngIf="errorSala">The room code is incorrect. Please check the code and try
                        again.</p>
                    <button mat-raised-button color="primary" (click)="entrarSala()">Enter room</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Pantalla de espera de inicio de juego tras unirse a una sala -->
<div *ngIf="estado === 'waitingForGame'">
    <h2>Please, wait until the game starts...</h2>
</div>

<!-- Pantalla de juego en marcha -->
<!-- Pantalla de juego en marcha -->
<div *ngIf="estado==='enPartida'" class="classroom-challenge-game">
    <!-- Stats Field: Display current question number, timer, and score -->
    <div id="StatsField" class="text-center d-flex justify-content-between">
        <div>
            <p class="fs-5 fw-bold">Question {{indicePregunta + 1}} / {{preguntas.length}}</p>
            <!-- Mostrar el número actual de pregunta -->
        </div>

        <div *ngIf="timerEnabled">
            <cd-timer #basicTimer class="bootstrap-timer" (onComplete)="timeOut()" [countdown]="true"
                [startTime]="tiempo" format="intelli"></cd-timer>
        </div>

        <div>
            <p class="fs-5 fw-bold">Score: {{puntuacion}}</p>
        </div>
    </div>

    <!-- Question Field: Show the current question and button to read the question -->
    <div id="QuestionField" class="text-center contenedor-pregunta">
        <div class="texto-pregunta fw-bold text-break">
            {{pregunta.question}}
        </div>
        <button mat-raised-button color="primary" (click)="leerPregunta()">
            Read Question
            <img src="assets/images/megafono.png" alt="Read" style="width: 20px; height: 20px; margin-left: 8px;">
        </button>
    </div>

    <!-- Image Field: Show the image related to the question if available -->
    <div id="ImageField" class="text-center">
        <img class="img-pregunta" *ngIf="pregunta.image !== ''" [src]="pregunta.image" alt="{{pregunta.information}}">
        <img class="img-pregunta" *ngIf="pregunta.image === ''" src="assets/images/question-placeholder.png"
            alt="Placeholder image">
    </div>

    <!-- Response Field: Interactive area for students to input their answers -->
    <div id="ResponseField" class="contenedor-respuesta">
        <div class="row">
            <!-- Input fields for student's answer -->
            <div class="col-lg-10">
                <div class="d-flex contenedor">
                    <div *ngFor="let palabra of palabras">
                        <code-input [isPrevFocusableAfterClearing]="false" inputType="text"
                            [ngClass]="{'wrong': !correcto}" [isCodeHidden]="false" [isCharsCode]="true"
                            [codeLength]="palabra.longitud" (codeChanged)="onCodeChanged($event,palabra.posicion)"
                            (keydown)="handleKeyDown($event, palabra.posicion)">
                        </code-input>
                    </div>
                </div>
            </div>

            <!-- Buttons for sending the student's answer and skipping the question -->
            <div class="col-lg-2">
                <button mat-raised-button color="primary" (keydown)="handleEnter($event)" (click)="sendResults()"
                    *ngIf="!preguntaTerminada">Send answer</button>
                <button mat-raised-button color="warn" (click)="confirmSkipQuestion()">Skip question</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="estado === 'esperandoResultados'">
    <h2>Waiting for the other players to finish...</h2>
    <!-- Aquí podrías mostrar resultados parciales -->
</div>

<!-- Pantalla de resultados finales -->
<!-- Pantalla de resultados finales -->
<div *ngIf="estado === 'resultadosFinales'" class="text-center">
    <h1>Winner!</h1>
    <h2>{{winner.user}}</h2>
    <img src="assets/images/trophy.png" style="width:200px;height:200px" alt="Winner's trophy" />
    <h2>Highest Score: {{winner.score}}</h2>

    <!-- Resumen del jugador -->
    <div class="card">
        <h3 class="card-header text-center">Summary</h3>
        <div class="card-body">
            <h4 class="card-title text-decoration-underline fs-5">My score</h4>
            {{puntuacion}}
            <h4 class="card-title text-decoration-underline fs-5">Correct answers</h4>
            {{respuestasCorrectas}}
            <h4 class="card-title text-decoration-underline fs-5">Wrong answers</h4>
            {{respuestasIncorrectas}}

            <p class="card-text">You can see the detailed results in your History.</p>
            <button mat-raised-button color="primary" routerLink="/home">Return to Menu</button>
        </div>
    </div>

    <!-- Ranking completo -->
    <mat-list>
        <div mat-subheader class="fs-3">Full ranking</div>
        <hr>
        <mat-list-item *ngFor="let player of clasification; let index = index">
            <!-- Imágenes para los tres primeros lugares -->
            <img matListItemIcon *ngIf="index + 1 === 1" src="assets/images/first.png" alt="First place">
            <img matListItemIcon *ngIf="index + 1 === 2" src="assets/images/second.png" alt="Second place">
            <img matListItemIcon *ngIf="index + 1 === 3" src="assets/images/third.png" alt="Third place">
            <!-- Mostrar el número de posición para los demás jugadores -->
            <p matListItemIcon *ngIf="index + 1 > 3">{{index + 1}}</p>

            <div matListItemTitle>{{player.user}}</div>
            <div matListItemLine>{{player.score}} points</div>
        </mat-list-item>
    </mat-list>
</div>

