::ng-deep code-input input {
    background: #4758B8!important;
    color: white!important;
    font-size: 20px!important;
    font-weight: bold!important;
}

::ng-deep .wrong input {
    background-color: #FFCDD2 !important; /* Rojo clarito */
    color: #000000 !important; /* Texto en negro */
  }